---
layout: default
title: Yu-Chun Lin(May)'s personal website
description: A persinal website of Yu-Chun Lin
---
<div class="container">
  {% include index/summary.html %}
  <div class="row">
    <div class="col-12 col-md-8">
      {% include index/work-experience.html %}
      {% include index/project-experience.html %}
    </div>
    <div class="col-12 col-md-4 d-none d-md-block">
      {% include index/personal-infor.html %}
    </div>
    <div class="col-12">
      {% include index/education-experience.html %}
    </div>
    <div class="col-12 d-md-none">
      {% include index/personal-infor.html %}
    </div>
  </div>
</div>
