ul.may-language-selector{
  display: inline;
  font-size: 0;
  line-height:50px;
  .may-language{
    border:1px solid #fff;  
    display: inline;
    padding: 4px;
    font-size:14px;
    a{
      cursor: pointer;
      color: #fff;
      &.active{
        color: $active-color;
        font-weight: bold;
      }
    }
    &:nth-child(1){
      border-right: none;
    }
  }
}