<div class="section work-experience">
  <div class="row">
    <div class="col-12">
      <div class="row may-title-container">
        <div class="col-1 may-box"></div>
        <div class="col-11 may-title">{% t education-experience.title %}</div>
        <div class="col-12 may-line"></div>
      </div>
    </div>
    <div class="col-12">
      <div class="row description">
        <div class="col-6 col-md-4">
          <p class="may-school-name">Simon Fraser University</p>
          <p>{% t education-experience.major %}</p>
          <p>{% t education-experience.minor %}</p>
        </div>
        <div class="col-6 col-md-4">
          <p>{% t education-experience.graducation %}</p>
          <p>{% t education-experience.city %}</p>   
        </div>
      </div>
    </div>
  </div>
</div>