<div class="may-personal-infor">
  <h3>{% t contact %}</h3>
  <p>{% t phone %}：+86 13588480270</p>
  <p>{% t email %}： may90603@126.com</p>
  <h3>{% t more %}</h3>
  <p>{% t website %}: <a href="https://yuchunl.github.io/">yuchunl.github.io</a></p>
  <p>{% t linkedin %}: <a href="https://www.linkedin.com/in/yuchunlinmay/" target="_blank">linkedin.com/in/yuchunlinmay</a></p>
  <p>{% t resume %}: <a href="https://yuchunl.github.io/May-Front-End-Developer-Resume.pdf"target="_blank" >[PDF]</a></p>
</div>