<div class="section work-experience">
  <div class="row">
    <div class="col-12">
      <div class="row may-title-container">
        <div class="col-1 may-box"></div>
        <div class="col-11 may-title">{% t work-experience.title %}</div>
        <div class="col-12 may-line"></div>
      </div>
    </div>
    <div class="col-12">
      {% assign works = site.categories.work | sort: 'date' | reverse %}
      {% for work in works %} 
      <div class="row description work-description">
        <div class="col-6 col-md-3">{{ work.range }}</div>
        <div class="col-6 col-md-6">
        <p><a href="{{ work.comapny-link }}" target="_blank">{{ work.title }}</a></p>
        <p>{{ work.job-title }}</p>
        </div>
        <div class="col-12 col-md-3 d-none d-md-block">{{ work.city }}</div>          
      </div>
      {% endfor %}
    </div>
  </div>
</div>